html{
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: monospace;
}

header {
  text-align: center;
}

#calculator {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 6fr;
  justify-content: space-evenly;
  align-content: space-evenly;
  border-radius: 20px;
  width: 28%;
  padding: 20px;
}

#display {
  text-align: right;
  grid-column: 1 / span 2;
  padding: 5px;
}

#numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#zero {
  grid-column: 1 / span 2;
}

#operators {
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px;
  border: none;
  margin: 5px;
  border-radius: 50px;
  color: white;
}

.number {
  background-color: rgb(108, 108, 108);
}

.operator {
  background-color: orange;
}